* {
  padding: 10px;;
  margin: 0;
}

#character {
  width: 30px;
  height: 75px;
  background-image: url("media/images/avatar.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  transition: bottom 2.5s;
}

#character.gravflip {
  bottom: 600px; transform: scaleY(-1)
}


#spike {
  width: 40px;
  height: 40px;
  background-image: url("media/images/spike.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 480px;
  animation: slide 2s linear infinite;
}

#seagull {
  width: 40px;
  height: 40px;
  background-image: url("media/images/seagull.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 300px;
  left: 480px;
  animation: slide 4s linear infinite;
}

#scoreDisplay {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;        
  font-size: 24px;
  font-weight: bold;
  background: rgba(255,255,255,0.6);
  padding: 4px 10px;
  border-radius: 6px;
}


@keyframes slide {
  0%{left: 1500px;}
  100%{left: -40px;}
}

.slider {
  width: 2048px;
  height: 610px;                
  position: relative;
  background-size: cover;
  animation: slidebg 5s linear infinite;
  
}

.slide-track {
  display: flex;
  width: calc(200%);     
  animation: scroll 5s linear infinite;
}

.slide-track img {
  width: 2048px;
  height: 610px;           
  flex-shrink: 0;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}